body{
    margin: 0;
    padding: 0;
}

.font{
    font-family: 'Dancing Script', cursive;
}

.customNavbarSize{
    font-size: 48px;
}

.navbarBG{
    background-color: #ffaef4;
}

.customFooter{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.customFooter:hover{
    color: black;
    text-decoration: underline;
}

.footerBG{
    background-color: #ffaef4;
}

body{
    background-color: #fff5af;
}

.cardBG{
    background-color: #fff5af;
}

.customLetterSize{
    font-size: 30px;
}

.customh1{
    font-size: 50px;
    font-weight: bold;
    border: 2px solid #ffaef4;
}

.customh2{
    font-size: 40px;
    font-weight: bold;
    border: 2px solid #ffaef4;
}

.customh3{
    font-weight: bold;
    text-decoration: underline solid #ffaef4;
}

.customContainer{
    margin-left: 0;
    margin-right: 0;
}