.font{
    font-family: 'Dancing Script', cursive;
}

.customNavbarIcon{
    font-size: 60px;
    font-weight: bold;
}

.customNavbarSize{
    font-size: 36px;
    font-weight: bold;
}

.navbarBG{
    background: #ffaef4;
}