.font{
    font-family: 'Dancing Script', cursive;
}

.customNavbarSize{
    font-size: 48px;
}

.navbarBG{
    background: #ffaef4;
}

.customFooter{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.customFooter:hover{
    color: black;
    text-decoration: underline;
}

.footerBG{
    background: #fff5af;
}